@{
    ViewBag.Title = "Home Page";
}
@*<script src="~/Scripts/kendo.web.min.js"></script>*@
<script src="~/Scripts/jquery-1.10.2.js"></script>
<link href="~/Content/kendo.default.min.css" rel="stylesheet" />
<link rel="stylesheet" href="styles/kendo.common.min.css" />
<link rel="stylesheet" href="styles/kendo.default.min.css" />
<link rel="stylesheet" href="styles/kendo.default.mobile.min.css" />
<ul id="menu" data-role="menu" class="k-widget k-reset k-header k-menu k-menu-horizontal" tabindex="0" role="menubar">
    <li aria-haspopup="true" class="k-item k-state-default k-first" role="menuitem" style="z-index: auto;">
        <span class="k-link">
            Products
            <span class="k-icon k-i-arrow-60-down k-menu-expand-arrow"></span>
        </span>
        <div class="k-animation-container" style="width: 96px; height: 110px; overflow: hidden; display: none; position: absolute; z-index: 10002; top: 31px; left: 0px;" aria-hidden="true">
            <ul class="k-group k-menu-group k-popup k-reset" role="menu" data-role="popup" style="display: none; position: absolute; font-size: 14px; font-family: Arial, Helvetica, sans-serif; font-stretch: 100%; font-style: normal; font-weight: 400; line-height: normal; transform: translateY(-111px);" aria-hidden="true">
                <li aria-haspopup="true" class="k-item k-state-default k-first" role="menuitem">
                    <span class="k-link">
                        Furniture
                        <span class="k-icon k-i-arrow-60-right k-menu-expand-arrow"></span>
                    </span><ul class="k-group k-menu-group" role="menu" aria-hidden="true">
                        <li class="k-item k-state-default k-first" role="menuitem"><span class="k-link">Tables &amp; Chairs</span></li>
                        <li class="k-item k-state-default" role="menuitem"><span class="k-link">Sofas</span></li>
                        <li class="k-item k-state-default" role="menuitem"><span class="k-link">Occasional Furniture</span></li>
                        <li class="k-item k-state-default" role="menuitem"><span class="k-link">Children's Furniture</span></li>
                        <li class="k-item k-state-default k-last" role="menuitem"><span class="k-link">Beds</span></li>
                    </ul>


                </li>
                <li aria-haspopup="true" class="k-item k-state-default" role="menuitem">
                    <span class="k-link">
                        Decor
                        <span class="k-icon k-i-arrow-60-right k-menu-expand-arrow"></span>
                    </span><ul class="k-group k-menu-group" role="menu" aria-hidden="true">
                        <li class="k-item k-state-default k-first" role="menuitem"><span class="k-link">Bed Linen</span></li>
                        <li class="k-item k-state-default" role="menuitem"><span class="k-link">Throws</span></li>
                        <li class="k-item k-state-default" role="menuitem"><span class="k-link">Curtains &amp; Blinds</span></li>
                        <li class="k-item k-state-default" role="menuitem"><span class="k-link">Rugs</span></li>
                        <li class="k-item k-state-default k-last" role="menuitem"><span class="k-link">Carpets</span></li>
                    </ul>
                </li>
                <li aria-haspopup="true" class="k-item k-state-default" role="menuitem">
                    <span class="k-link">
                        Storage
                        <span class="k-icon k-i-arrow-60-right k-menu-expand-arrow"></span>
                    </span><ul class="k-group k-menu-group" role="menu" aria-hidden="true">
                        <li class="k-item k-state-default k-first" role="menuitem"><span class="k-link">Wall Shelving</span></li>
                        <li class="k-item k-state-default" role="menuitem"><span class="k-link">Kids Storage</span></li>
                        <li class="k-item k-state-default" role="menuitem"><span class="k-link">Baskets</span></li>
                        <li class="k-item k-state-default" role="menuitem"><span class="k-link">Multimedia Storage</span></li>
                        <li class="k-item k-state-default" role="menuitem"><span class="k-link">Floor Shelving</span></li>
                        <li class="k-item k-state-default" role="menuitem"><span class="k-link">Toilet Roll Holders</span></li>
                        <li class="k-item k-state-default" role="menuitem"><span class="k-link">Storage Jars</span></li>
                        <li class="k-item k-state-default" role="menuitem"><span class="k-link">Drawers</span></li>
                        <li class="k-item k-state-default k-last" role="menuitem"><span class="k-link">Boxes</span></li>
                    </ul>

                </li>
                <li aria-haspopup="true" class="k-item k-state-default k-last" role="menuitem">
                    <span class="k-link">
                        Lights
                        <span class="k-icon k-i-arrow-60-right k-menu-expand-arrow"></span>
                    </span><ul class="k-group k-menu-group" role="menu" aria-hidden="true">
                        <li class="k-item k-state-default k-first" role="menuitem"><span class="k-link">Ceiling</span></li>
                        <li class="k-item k-state-default" role="menuitem"><span class="k-link">Table</span></li>
                        <li class="k-item k-state-default" role="menuitem"><span class="k-link">Floor</span></li>
                        <li class="k-item k-state-default" role="menuitem"><span class="k-link">Shades</span></li>
                        <li class="k-item k-state-default" role="menuitem"><span class="k-link">Wall Lights</span></li>
                        <li class="k-item k-state-default" role="menuitem"><span class="k-link">Spotlights</span></li>
                        <li class="k-item k-state-default" role="menuitem"><span class="k-link">Push Light</span></li>
                        <li class="k-item k-state-default k-last" role="menuitem"><span class="k-link">String Lights</span></li>
                    </ul>
                </li>
            </ul>
        </div>
    </li>
    <li aria-haspopup="true" class="k-item k-state-default" role="menuitem">
        <span class="k-link">
            Stores
            <span class="k-icon k-i-arrow-60-down k-menu-expand-arrow"></span>
        </span><ul class="k-group k-menu-group" role="menu" aria-hidden="true">
            <li class="k-item k-state-default k-first k-last" role="menuitem">
                <div id="template" style="padding: 10px;" class="k-content" tabindex="-1">
                    <h2>Around the Globe</h2>
                    <ol>
                        <li>United States</li>
                        <li>Europe</li>
                        <li>Canada</li>
                        <li>Australia</li>
                    </ol>
                    <img src="../content/web/menu/map.png" alt="Stores Around the Globe">
                    <button class="k-button">See full list</button>
                </div>
            </li>
        </ul>
    </li>
    <li class="k-item k-state-default" role="menuitem">
        <span class="k-link">
            Blog
        </span>
    </li>
    <li class="k-item k-state-default" role="menuitem">
        <span class="k-link">
            Company
        </span>
    </li>
    <li class="k-item k-state-default" role="menuitem">
        <span class="k-link">
            Events
        </span>
    </li>
    <li class="k-item k-state-disabled k-last" aria-disabled="true" role="menuitem">
        <span class="k-link">
            News
        </span>
    </li>
</ul>
<ul id="menu2">
    <li>one</li>
    <li>
        two22333
        <ul>
            <li><a href="/asdaf" >sadfsd</a></li>
            <li>6666</li>
            <li>44444</li>
            <li>6666</li>
        </ul>
    </li>
</ul>
<br /><br /><br /><br /><br />
<input id="firstinput"  />

 
<script>
    $(document).ready(function () {
        $("#menu").kendoMenu();

        $("#firstinput").kendoDatePicker({

            // defines the start view
            start: "year",

            // defines when the calendar should return date
            depth: "year",

            // display month and year in the input
            format: "MMMM yyyy",

            // specifies that DateInput is used for masking the input element
            dateInput: true

        });
 
    });


</script>

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@

@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@

